source /boot/grub/config.cfg
set default=0
set timeout=5

menuentry "Start FeatherOS" --hotkey=s {
    linux /live/vmlinuz boot=live components quiet splash panic=0 username=feather hostname=featheros locales=en_US.UTF-8 keyboard-layouts=us findiso=${iso_path}
    initrd /live/initrd.img
}

menuentry "FeatherOS (Debug Mode)" --hotkey=d {
    linux /live/vmlinuz boot=live components debug loglevel=7 systemd.show_status=1 systemd.log_level=debug plymouth.enable=0 rd.plymouth=0 panic=0 console=tty0 console=ttyS0,115200 username=feather hostname=featheros locales=en_US.UTF-8 keyboard-layouts=us findiso=${iso_path}
    initrd /live/initrd.img
}

menuentry "FeatherOS - Safe Graphics" --hotkey=g {
    linux /live/vmlinuz boot=live components nomodeset plymouth.enable=0 rd.plymouth=0 panic=0 featheros.safe_graphics=1 username=feather hostname=featheros locales=en_US.UTF-8 keyboard-layouts=us findiso=${iso_path}
    initrd /live/initrd.img
}

if [ "${grub_platform}" = "efi" ]; then
    menuentry "UEFI Firmware Settings" --hotkey=f {
        fwsetup
    }
fi
