source /boot/grub/config.cfg

menuentry "Start FeatherOS" --hotkey=s {
	linux	/live/vmlinuz boot=live components quiet splash username=feather hostname=featheros locales=en_US.UTF-8 keyboard-layouts=us findiso=${iso_path}
	initrd	/live/initrd.img
}

menuentry "FeatherOS (Debug Mode)" {
	linux	/live/vmlinuz boot=live components memtest noapic noapm nodma nomce nosmp nosplash vga=788
	initrd	/live/initrd.img
}
