label featheros-live
    menu label ^Try or Install FeatherOS
    menu default
    linux /live/vmlinuz
    initrd /live/initrd.img
    append boot=live components quiet splash username=feather hostname=featheros locales=en_US.UTF-8 keyboard-layouts=us

label featheros-safe
    menu label FeatherOS - ^Safe Graphics
    linux /live/vmlinuz
    initrd /live/initrd.img
    append boot=live components nomodeset noapic nosplash username=feather hostname=featheros locales=en_US.UTF-8 keyboard-layouts=us
